<div class="container">
	<div class="row">
		<div class="span9"><h2>Tashman Family Album</h2>
		<h3>This application is for the family to upload and view recent images of the kids, the dogs, themselves, and other worthwhile things we may find along the way.</h3>
		</div> <!-- end span8 -->
	</div> <!-- end row -->

	<div class="span8 offset1">
		<h3>Directions for use</h3>
		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div> <!-- end span -->
</div> <!-- end container -->
