<div class="container">
    <div class="row">
		<div class="span9"><h2>Tashman Family Album</h2>
		<h3>Hi <%= current_user.email %>, 
			<br />
			This application is for the family to upload and view recent images of the kids, the grandkids, the dogs, and other worthwhile things we may find along the way.</h3>
		</div> <!-- end span8 -->
	</div> <!-- end row -->

	<div class="span8 offset1">
		<h3>Directions for use</h3>
		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div> <!-- end span -->

	<div class="span8 offset1">
		<h3>Selecting a custom color</h3>
		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

		<div class="span8 offset1">
		<h3>FAQ's</h3>
		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	</div> <!-- end span -->

	</div> <!-- end span -->

</div> <!-- end container -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://blueimp.github.com/cdn/js/bootstrap.min.js"></script>
<script src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"></script>
<script src="js/bootstrap-image-gallery.min.js"></script>
<script src="js/main.js"></script>

